html, body{
  background-color: #FFB84E !important;

}
nav span{
  color: #F8F4F1 !important;
}
strong{
  font-size: 32px;
}
.title {
  flex: 1;
  color: #472B00;
  
}

.expenses {
  display: flex;
  align-items: center;
}

.expenses img {
  margin-left: 1rem;
}