html, body{
  background-color: #FFB84E !important;

}
.white-color{
  color: #F8F4F1 !important;
}
strong{
  font-size: 32px;
}
.title {
  flex: 1;
  color: #472B00;
  
}

.expenses {
  display: flex;
  align-items: center;
}

.expenses img {
  margin-left: 1rem;
}
.main-button {
  background-color: rgba(71, 177, 237, 0.87) !important;
  border: rgba(71, 177, 237, 0.87) !important;
  width: 80%;
}